.checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .checkbox input {
    display: none;
  }
  
  .checkbox__label {
    width: 24px;
    height: 24px;
    border: 2px solid #ccc;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
  }
  
  .checkbox input:checked + .checkbox__label {
    background-color: #ccc;
  }
  
  .label__text {
    font-size: 16px;
  }
  